// include all of bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  height: 100%;
}

///general style
.wrapper {
  min-height: 100vh;
  display: flex;
  // Direction of the items
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  background-color: lightslategray;
}

.my-container {
  @include make-container;
  margin: auto;
}

.my-row {
  @include make-row;
}

.my-content-1,
.my-content-2,
.my-content-3,
.my-content-4 {
  margin-bottom: 15px;
}


.my-content-1 {
  @include make-col-ready;

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
}


//game description 2 lines max.
.card-text {
  font-size: 15pt;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//username block on navbar
.username-nav {
  background: skyblue;
  cursor: default;
}

// GamePlayer
.game-player {
  height: 300px;
  color: #495057;
  background: currentColor;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  cursor: pointer;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;

  //close button on gamePlayer
  .closeButton {
    position: absolute;
    display: block;
    font-size: 12pt;
    top: 5px;
    right: 0px;
    width: 20px;
    height: 16px;
    cursor: pointer;
    z-index: 3;
    text-align: center;
    background-color: grey;
    display: table;
    border: 1px solid #fff;
    border-radius: 5px;
  }
}

.message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.small-container{
  position: relative;
  top: 40%;
}

.footer{
  line-height: 40px;
}